.main-container {
    border: 1px solid white;
    margin: 20px;
    padding: 10px;
    height: 350px;
    display: flex;
    justify-content: center;
    overflow: scroll;
    overflow-x: hidden;
}

.main-container::-webkit-scrollbar {
    color: white;
}

.main-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
