.main-container {
    border: 1px solid blue;
    margin: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
}

.spinning-icon {
    display: flex;
    align-items: center;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}