.log {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

table {
    width: 100%;
    border-spacing: 1px 5px;
}

th {
    text-decoration: underline;
    text-underline-offset: 2px;
}

td {
    padding: 5px;
}

.row {
    background-color: darkcyan;
}

.row:hover {
    cursor: pointer;
}
