.log {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: start;
}

table {
    width: 100%;
}

th {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.row {
    background-color: darkcyan;
}
