.log {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: orange;
    background-color: #000000;
    padding: 10px;
    font-weight: bold;
}

td {
    padding: 10px;
    color: orange;
}

.log table tr:nth-child(even) {
    background-color: #3d3d3d; /* Change this to the color you want */
}

.log table tr:nth-child(even):hover {
    background-color: #e6e6e6; /* Change this to the color you want */
}

.row {
    background-color: black;
}

.row:hover {
    cursor: pointer;
    background-color: #e6e6e6;
}
