.error {
    z-index: 10;
    position: absolute;
    top: 30%;
    left: 39%;
    height: 125px;
    width: 320px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 3px;
}

.error p {
    margin-top: 30px;
}

.error button {
    margin-bottom: 20px;
    border: 2px solid white;
}

.error button:hover {
    border-color: orange;
}