.remove-button {
    display: flex;
    justify-content: flex-end;
}

.trash-button:hover {
    color: red;
    cursor: pointer;
}

.remove-buttons button {
    font-size: 0.6rem;
}

.remove-buttons p {
    font-size: 0.8rem;
}
