dialog {
    position: fixed; /* Position the dialog relative to the viewport */
    top: 25%; /* Position the dialog halfway down the viewport */
    left: 40%; /* Position the dialog halfway across the viewport */
    transform: translate(-50%, -50%); /* Shift the dialog back by half of its width and height */
    margin: auto; /* In case the dialog's height is more than the viewport's height */
    width: 25rem; 
    height: 15rem;
    justify-content: center;
    border: none;
    background-color: black;
    color: white;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

