.App {
  text-align: center;
  
  margin: 20px;
  width: 600px;
  height: 500px;
  background-color: black;
  opacity: 75%;
  color: white;
}

body {
  background-color: darkgray;
}

.header {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header h1 {
  font-size: 1.5rem;
}

.header li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 10px;
}

button {
  background: none;
  border: 1px solid white;
  padding: 5px;
  color: white;
  margin: 10px;
}

button:hover {
  color: cyan;
  cursor: pointer;
  opacity: 50%;
}