@import url(https://fonts.googleapis.com/css?family=Montserrat);
*, *::after, *::before {
  box-sizing: border-box;
}

.App {
    text-align: center;
    margin: 20px;
    width: 750px;
    height: 550px;
    background-color: rgb(40, 40, 40);
    opacity: 75%;
    color: white;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: darkgray;
}

button {
    background: none;
    border: 2px solid transparent;
    border-radius: 3px;
    padding: 5px;
    color: white;
    margin: 10px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

button:hover {
    color: orange;
    cursor: pointer;
    transition: 0.3s ease-in;
    border: 2px solid orange;
}

button:active {
    transform: translateY(3px);
  }
  button::after, button::before {
    border-radius: 3px;
  }

button:disabled {
    color: darkgray;
}