@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.sticky {
    position: sticky !important;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}